[Unit]
Description=MMDVMHost (YSF)
After=network.target
[Service]
Type=simple
User=pi
Group=mmdvm
ExecStart=/usr/local/bin/MMDVMHost /etc/mmdvmhost
Restart=on-failure
RestartSec=8
[Install]
WantedBy=multi-user.target
